<mat-card>
    <mat-card-title>Submit new order</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <p>
                <mat-form-field>
                    <mat-label>Select car model</mat-label>
                    <mat-select formControlName="model">
                        <mat-option value="volvo">Volvo</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Select engines</mat-label>
                    <mat-select formControlName="engine">
                        <mat-option value="1.6_FSI_116km">1.6 FSI 116km</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Select transmision</mat-label>
                    <mat-select formControlName="transition">
                        <mat-option value="opel_a_6">Opel automatic - 6 gears</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Select tires</mat-label>
                    <mat-select formControlName="tires">
                        <mat-option value="michealin">Michealin</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Select paints</mat-label>
                    <mat-select formControlName="paint">
                        <mat-option value="blue">Blue</mat-option>
                        <mat-option value="red">Red</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-label> Price: {{price}}</mat-label>
            </p>
            <p class="button">
                <button type="submit" mat-button>Submit</button>
            </p>
        </form>
    </mat-card-content>
</mat-card>